@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('assets/fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('assets/fonts/Gilroy-Extrabold.woff') format('woff'),
        url('assets/fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    font: 15px Gilroy, Arial, Helvetica, sans-serif;
}

body {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

::selection {
    background-color: #e9a76e;
    color: #fff;
}

A {
    color: #e1700e; /* Цвет ссылок */
}
A:visited {
    color: #e1700e; /* Цвет посещенных ссылок */
}
A:active {
    color: #e1700e; /* Цвет активных ссылок */
}
A:hover {
    border-radius: 2px;
    background-color: #ffead7;
    color: #d2680b; /* Цвет активных ссылок */
}

.link {
    display:inline-block;
    margin: 0.2px;
} 
.link a {
    display:block;
    margin: 0.2px;
}

.result-box {
    padding: 10px 10px;
    position: center;
    max-width: 305px;
    transform: translate(0, 0%);
    border-radius: 8px;
    background-color: #ededed;
}
.result-box:hover {
    background-color: #e4e3e3;
}
.result-box:active {
    background-color: #cdcdcd;
}
.result-box {
    transition-duration: 0.4s;
}

.copied {
    border-radius: 1em;
    padding: 1em;
    position: center;
    color: #d26a0f;
    top: 50%;
    left: 50%;
    margin: 85px;
}


.input {
    font: 15px Gilroy;
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 70px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 2px;
    border: 2px solid #E9E9E9;
    transition-duration: 0.4s;
}
.input:hover {
    border-color: #d7d7d7;
}
.input:focus {
    outline: none;
    border-color: #ef750d;
}

.button {
    font: 15px Gilroy;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 101px;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background: #ef750d;
    margin: 2px;
    border: 0;
}
.button:hover {
    background-color: #e1700e;
    color: white;
}
.button:active {
    background-color: #d26a0f;
    color: white;
}
.button-copy:hover {
    background-color: #f6f6f6;
    color: rgb(0, 0, 0);
}
.button-copy:active {
    background-color: #eeeeee;
    color: rgb(40, 40, 40);
}
.button, .button-copy {
    transition-duration: 0.4s;
}

.button-copy {
    font: 15px Gilroy;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 117px;
    border-radius: 4px;
    user-select: none;
    color: rgb(0, 0, 0);
    background: 0;
    margin: 2px;
    border: 0;
}